{{>header}}
{{>nav}}
<section class="my-5 container">
    {{#if note}}
    <div>
        <h3> ID:{{note.id}}</h3>
        <h3>Name :{{note.name}}</h3>
        <h3>Content :{{note.content}}</h3>
        <h3>Date :{{note.dueDate}}</h3>
        <h3>Status :{{note.status}}</h3>
    </div>
    {{else}}
    <div class="alert alert-danger">
        No note found
    </div>
    {{/if}}
</section>
{{>footer}}